* {
  box-sizing: border-box;
}

/* 出品した商品一覧 */
.row {
  width: 100vw;
  margin: 0 auto;
}

.user-detail {
  background-color: #3bd4da;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.whose-items {
  font-size: 24px;
  color: #ffffff;
  padding: 20px;
}

.user-management {
  position: absolute;
  right: 0;
  top: auto;
  margin: 10px 50px;
  color: #ffffff;
}

/* 商品一覧 */
.item-contents {
  background-color: #FFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}
/* 商品一覧 */

.no-item {
  font-size: 24px;
  margin-top: 50px;
}
/* 出品した商品一覧 */

/* 購入した商品一覧 */
.purchases {
  width: 100vw;
  margin: 0 auto;
}

.user-detail {
  background-color: #3bd4da;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.whose-items {
  font-size: 24px;
  color: #ffffff;
  padding: 20px;
}

/* 商品一覧 */
.purchase-contents {
  background-color: #FFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.purchase-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.purchase-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.purchase-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.purchase-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.purchase-img-content {
  position: relative;
}

.purchase-img {
  width: 33vh;
  height: 33vh;
}

.purchase-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.purchase-name {
  font-size: 2.5vh;
}

.purchase-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}
/* 商品一覧 */
/* 購入した商品一覧 */